.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  background-color: #191970;
  overflow: hidden;
}

.game-box {
  max-width: 100%;
  max-height: 100%;
  width: 1400px; /* Ensure it matches Phaser width */
  height: 800px; /* Ensure it matches Phaser height */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid #fff;  */
  /* Optional: Add border for visibility */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}


